@model TodoMvc.Models.View.ManagerUsersViewModel

@{
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td><a asp-controller="ManagerUsers" asp-action="UnmakeAdministrator" asp-route-id="@user.Id">Remover Administrador</a></td>
        </tr>
    }
    </tbody>
</table>

<h3>Everyone</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td><a asp-controller="ManagerUsers" asp-action="MakeAdministrator" asp-route-id="@user.Id">Tornar Administrador</a></td>
        </tr>
    }
    </tbody>
</table>
