@model TodoMvc.Models.View.ManageUsersViewModel

@{
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Nome</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Administrators)
    {
        <tr>
            <!--<td>@user.Id</td>-->
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td><a asp-action="UnmakeAdministrator" asp-route-id="@user.Id">Remover Administrador</a></td>
        </tr>
    }
    </tbody>
</table>

<h3>Users</h3>

<table class="table">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Nome</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <!--<td>@user.Id</td>-->
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a asp-controller="Todo" asp-action="UserList" asp-route-id="@user.Id">Ver Lista de Todos</a> | 
                <a asp-action="Edit" asp-route-id="@user.Id">Editar roles</a> | 
                <a asp-action="MakeAdministrator" asp-route-id="@user.Id">Tornar Administrador</a>
            </td>
        </tr>
    }
    </tbody>
</table>
